* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  font-size: 100%;
}
body {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* position: relative !important; */
}
/* #retour_haut {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  padding: 20px;
  border-radius: 20px;
  background-color: #000;
  color: red;
  font-size: 3rem;
} */
@font-face {
  font-family: "futura-extra-bold";
  src: url(font/futura/Futura\ Extra\ Black\ font.ttf);
}
@font-face {
  font-family: "futura-medium";
  src: url(font/futura/futura\ medium\ bt.ttf);
}
@font-face {
  font-family: "lato";
  src: url(font/Lato/Lato-Regular.ttf);
}
header {
}
nav {
  margin: 0px 0px 10px 0px;
}
#offre > a:hover {
  color: yellow;
}
#offre {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#offre > a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 0px 5px;
  font-family: futura-medium;
  font-size: 0.9rem;
  text-decoration: none;
  color: white;
}
#offre > a > p {
  padding: 0px 0px 0px 5px;
  margin: 0px;
}

#slidetailleimagegrandtexte {
  position: absolute;
  bottom:15%;
  left: 5%;
}
#slidetailleimagegrandtexte > h1 {
  font-family: futura-exta-bold;
  font-size: 3.5rem;
  padding: 0px 0px 10px 0px;
  color: red;
  text-shadow: 3px 3px 3px #E6DCDC;
}
#slidetailleimagegrandtexte h2 {
  font-family: futura-medium;
  font-size: 2.5rem;
  padding: 0px 0px 10px 0px;
  color: #f2f150;
}
#slidetailleimagegrandtexte h3 {
  font-family: futura-medium;
  font-size: 2rem;
  padding: 0px 0px 10px 0px;
  color: red;
}
#slidetailleimagegrandtexte > a {
  text-decoration: none;
  display: inline-block;
}
#slidetailleimagegrandtexte > a > h1 {
  font-family: futura-medium;
  font-size: 1rem;
  color: #303030;
  background: linear-gradient(
    0deg,
    rgba(255, 240, 0, 1) 30%,
    rgba(255, 248, 136, 1) 100%
  );
  border-radius: 10px;
  margin: 20px 0px 0px 0px;
  padding: 20px;
  box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.7);
}
#slidetailleimagegrandtexte a > h1:hover {
  transition: all 0.5s ease;
  background: linear-gradient(
    0deg,
    rgb(218, 11, 11) 30%,
    rgb(255, 76, 76) 100%
  );
  color: white;
  box-shadow: none;
}
#slide {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 100px; */
}
#slidetaille {
  position: relative;
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}
#slidetailleimagegrand {
  width: 64%;
  position: relative;
}
#slidetailleimagegrand > img {
  width: 100%;
  height: auto;
}
#slideaside {
  width: 34%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.slidetailleaside {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 0px 0px 10px 0px;
}
.slidetailleaside > img {
  width: 100%;
  height: auto;
  transition: all 0.3s ease-in-out;
}
.slidetailleaside > img:hover {
  transform: scale(1.3);
}
.slidetailleasidetexte {
  position: absolute;
  bottom: 15%;
  left: 10%;
  color: white;
}
.slidetailleasidetexte > h1 {
  font-family: futura-bold;
  font-size: 2rem;
  margin: 10px 0px 15px 0px;
}
.slidetailleasidetexte > h2 {
  font-family: futura-bold;
  font-size: 1.3rem;
}
.slidetailleasidetexte > a {
  text-decoration: none;
}
.slidetailleasidetexte > a > h1 {
  font-family: futura-bold;
  font-size: 0.8rem;
  color: white;
  display: inline-block;
  padding: 10px;
  background: linear-gradient(
    0deg,
    rgb(218, 11, 11) 30%,
    rgb(255, 76, 76) 100%
  );
  border-radius: 10px;
  box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.7);
}
.slidetailleasidetexte > a > h1:hover {
  background: linear-gradient(
    0deg,
    rgba(255, 240, 0, 1) 30%,
    rgba(255, 248, 136, 1) 100%
  );
  color: #333333;
  transition: all 0.5s ease;
  box-shadow: none;
}
#service {
  width: 100%;
  display: flex;
  justify-content: center;
}
#servicetaille {
  width: 85%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.service {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background-color: #f8f8f8;
  padding: 20px 30px;
  margin: 10px 0px 10px 0px;
  color: #c82811;
}
.service:hover {
  background-color: rgb(238, 225, 105);
  color: black;
  transition: all 0.5s ease;
}
.servicetexte > a > h1:hover {
  color: #c82811;
  transition: all 0.5s ease;
}
.service > a {
  text-decoration: none;
  color: #c82811;
}
.service > a:hover {
  color: #303030;
}
.servicetexte {
  padding: 0px 0px 0px 20px;
}
.servicetexte > a {
  text-decoration: none;
}
.servicetexte > a > h1 {
  padding: 0px 0px 10px 0px;
  color: #303030;
  font-family: futura-medium;
  font-size: 0.9rem;
}
.servicetexte > p {
  color: #666666;
  font-family: lato;
  font-size: 0.8rem;
}
#ventedujour {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#ventedujourtaille {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#ventedujourtaille > h1 {
  font-family: futura-bold;
  background: linear-gradient(
    0deg,
    rgb(218, 11, 11) 30%,
    rgb(255, 76, 76) 100%
  );
  padding: 15px 30px;
  margin: 0px 0px 10px 0px;
  color: white;
  font-size: 1.5rem;
}
#ventedujourtaille > p {
  font-family: futura-bold;
  font-size: 1rem;
  margin: 0px 0px 10px 0px;
}
#ventedujourtemps {
  margin-bottom: 20px;
}
.ventedujourplats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 10px 1px #A59E9E;
  margin: 0px 10px 20px 10px;
}
.ventedujourplats:hover {
  transition: all 0.5s ease;
  transform: translate(0px, -15px);
}
.ventedujourplats > img {
  width: 150px;
  height: auto;
  max-width: 100%;
}
#ventedujourdefilement {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.ventedujourplats > a {
  text-decoration: none;
}
.ventedujourplats > a > h1:hover {
  color: #c82811;
}
.ventedujourplats > a > h1 {
  font-family: futura-bold;
  font-size: 1rem;
  color: #303030;
  margin: 10px 0px 5px 0px;
}
.ventedujourplats > h2 {
  font-family: futura-bold;
  font-size: 1rem;
  color: #c82811;
  margin: 0px 0px 5px 0px;
}
section {
  margin: 0px 0px 20px 0px;
}
#notremenu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#notremenutaille {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#notregrandmenutitredefilement {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: #3c3c3c;
}
#notremenutitredefilement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#notremenutitredefilement > h1 {
  width: 100%;
  background: linear-gradient(
    0deg,
    rgb(218, 11, 11) 30%,
    rgb(255, 76, 76) 100%
  );
  color: white;
  padding: 15px 25px;
  font-size: 1.5rem;
  margin: 0px;
}
#notremenutitredefilement > a {
  text-decoration: none;
  color: black;
}
#notremenutitredefilement > a > h2{
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding-left: 30px;
  font-family: lato;
  font-size: 0.8rem;
}
#notremenutitredefilement > a > h2:hover {
  color: #f2f150;
}
#notremenubloqueimage {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0px 0px 0px;
}
#notremenulisteimage {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.notremenuimageetdetail {
  box-shadow: 3px 3px 10px 1px #A59E9E;
  margin: 0px 10px 20px 10px;
}
.notremenuimageetdetail > img {
  width: 150px;
  max-width: 100%;
}
#notremenugrandimagedetails {
  margin: 40px 0px 0px 0px;
}
.notremenuimageetdetail > h1,
.notremenuimageetdetail > h2,
.notremenuimageetdetail > h3 {
  padding: 2px 0px;
}
#notremenugrandimagedetails > h1 {
  font-family: futura-medium;
  font-size: 2rem;
  color: #303030;
}
#notremenugrandimagedetails > h2 {
  font-family: lato;
  font-size: 1.5rem;
  color: #c82811;
}
#notremenugrandimagedetails > h3 {
  font-family: lato;
  font-size: 1.5rem;
  color: #303030;
}
.notremenuimageetdetail:hover {
  transition: all 0.5s ease;
  transform: translate(0px, -15px);
}
.notremenuimageetdetail > h1 {
  font-family: futura-medium;
  font-size: 1rem;
  word-wrap: break-word;
  color: #303030;
}
.notremenuimageetdetail > h2 {
  font-family: lato;
  font-size: 0.8rem;
  word-wrap: break-word;
  color: #c82811;
}
.notremenuimageetdetail > h3 {
  font-family: lato;
  font-size: 0.8rem;
  word-wrap: break-word;
  color: #303030;
}
#livraisongratuite {
  width: 100%;
  display: flex;
  justify-content: center;
}
#livraisongratuitetaille {
  width: 85%;
  position: relative;
}
#livraisongratuitedetails {
  position: absolute;
  bottom: 15%;
  left: 15%;
  color: red;
}
#livraisongratuitetaille > img {
  width: 100%;
  height: auto;
}
#livraisongratuitedetails > a {
  text-decoration: none;
}
#livraisongratuitedetails > a > h1{
  display: inline-block;
  font-family: futura-medium;
  font-size: 1rem;
  color: #303030;
  background: linear-gradient(
    0deg,
    rgba(255, 240, 0, 1) 30%,
    rgba(255, 248, 136, 1) 100%
  );
  border-radius: 10px;
  margin: 20px 0px 0px 0px;
  padding: 20px;
  box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.7);
}
#livraisongratuitedetails a > h1:hover {
  transition: all 0.5s ease;
  background: linear-gradient(
    0deg,
    rgb(218, 11, 11) 30%,
    rgb(255, 76, 76) 100%
  );
  color: white;
  box-shadow: none;
}
#livraisongratuitedetails h1 {
  font-family: futura-bold;
  font-size: 3.5rem;
  padding: 0px 0px 10px 0px;
  color: rgb(154, 201, 156);
}
#livraisongratuitedetails h2 {
  font-family: futura-medium;
  font-size: 2.5rem;
  padding: 0px 0px 10px 0px;
  color: #f0cece;
}
#livraisongratuitedetails h3 {
  font-family: futura-medium;
  font-size: 2rem;
  padding: 0px 0px 10px 0px;
  color: #f1e4e4;
}
#venteduweekend {
  width: 100%;
  display: flex;
  justify-content: center;
}
#venteduweekenttaille {
  width: 85%;
}
#venteduweekendtitre  {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #3c3c3c;
    margin: 0px 0px 20px 0px;
}
#venteduweekendtitre > h1 {
  background: linear-gradient(
    0deg,
    rgb(218, 11, 11) 30%,
    rgb(255, 76, 76) 100%
  );
  color: white;
  padding: 15px 25px;
  font-size: 1.5rem;
  margin: 0px;
}
.venteduweekendimagesetdetail > a {
  text-decoration: none;
}
#venteduweekendimages {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.venteduweekendimagesetdetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 10px 1px #A59E9E;
  margin: 0px 10px 20px 10px;
}
.venteduweekendimagesetdetail:hover {
  transition: all 0.5s ease;
  transform: translate(0px, -15px);
}
.venteduweekendimagesetdetail > a > img {
  width: 150px;
  max-width: 100%;
  height: auto;
}
.venteduweekendimagesetdetail > a > h1 {
  font-family: futura-medium;
  font-size: 1rem;
  word-wrap: break-word;
  color: #303030;
}
.venteduweekendimagesetdetail > h2 {
  font-family: lato;
  font-size: 0.8rem;
  word-wrap: break-word;
  color: #c82811;
}
.venteduweekendimagesetdetail > h3 {
  font-family: lato;
  font-size: 0.8rem;
  word-wrap: break-word;
  color: #303030;
}
#menupopulaire {
  width: 100%;
  display: flex;
  justify-content: center;
}
#menupopulairetaille {
  width: 85%;
  display: flex;
  flex-direction: column;
}
#menupopulairebarretitre {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #3c3c3c;
  margin: 0px 0px 20px 0px;
}
#menupopulairebarretitre > h1 {
  background: linear-gradient(
    0deg,
    rgb(218, 11, 11) 30%,
    rgb(255, 76, 76) 100%
  );
  color: white;
  padding: 15px 25px;
  font-size: 1.5rem;
  margin: 0px;
}
#menupopulairebloque {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.menupopulairebloquedetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #303030;
  box-shadow: 3px 3px 10px 1px #2D2929;
  margin: 0px 10px 20px 10px;
}
.menupopulairebloquedetails:hover {
  transition: all 0.5s ease;
  transform: translate(0px, -15px);
}
.menupopulairebloquedetails > figure > a > img {
  width: 150px;
  max-width: 100%;
  height: auto;
}
.menupopulairebloquedetails > figure {
  width: 150px;
  max-width: 100%;
}
.menupopulairebloquedetails > a {
  text-decoration: none;
}
.menupopulairebloquedetails > a > h1 {
  font-family: futura-medium;
  font-size: 0.8rem;
  color: #303030;
  background: linear-gradient(
    0deg,
    rgba(255, 240, 0, 1) 30%,
    rgba(255, 248, 136, 1) 100%
  );
  border-radius: 10px;
  margin: 10px 0px 10px 0px;
  padding: 10px;
  box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.3);
}
.menupopulairebloquedetails > a > h1:hover {
  transition: all 0.5s ease;
  background: linear-gradient(
    0deg,
    rgb(218, 11, 11) 30%,
    rgb(255, 76, 76) 100%
  );
  color: white;
  box-shadow: none;
}
.menupopulairebloquedetails > h2 {
  font-family: futura-medium;
  font-size: 0.8rem;
  color: #f8f8f8;
  margin: 5px 0px;
}
.menupopulairebloquedetails > p {
  font-family: futura-medium;
  font-size: 0.8rem;
  color: #cccccc;
  margin: 0px;
}
#a_propos {
  width: 100%;
  display: flex;
  justify-content: center;
}
#a_propos_taille {
  background-image: url(image/about-background2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-clip: content-box;
  background-position: center;
  width: 100%;
  height: 85vh;
  position: relative;
  display: block;
}
#titreapropos {
  position: absolute;
  top: 50%;
  left: 10%;
}
#titreapropos > h1 {
  color: white;
  font-family: futura-extra-bold;
  font-size: 2.5rem;
}
#titreaproposaccueil {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0%;
  left: 10%;
  background: linear-gradient(
    0deg,
    rgba(255, 240, 0, 1) 30%,
    rgba(255, 248, 136, 1) 100%
  );
  border-radius: 5px;
  padding: 15px;
}
#titreaproposaccueil > a {
  text-decoration: none;
}
#titreaproposaccueil > div {
  margin: 0px 10px;
}
#titreaproposaccueil > a > h1, #titreaproposaccueil > div, #titreaproposaccueil > h1 {
  font-family: futura-bold;
  font-size: 1.5rem;
  color: #303030;
}
#a_propos_de_nous {
  width: 100%;
  display: flex;
  justify-content: center;
}
#a_propos_de_nous_taille {
  width: 85%;
  height: 100vh;
  background-color: #f3f3f3;
  background-image: url(image/about-background5.png);
  background-repeat: no-repeat;
  margin: 0px;
  display: flex;
  flex-direction: column;
}
#a_propos_de_nous_titre {
  text-align: center;
}
#a_propos_de_nous_titre > h1 {
  font-family: futura-extra-bold;
  font-size: 2rem;
  color: #303030;
  padding: 20px 0px;
}
#a_propos_de_nous_titre > h2 {
  font-family: futura-bold;
  font-size: 2rem;
  color: #303030;
  border-bottom: 2px solid #c82811;
}
.a_propos_de_nous_detaille {
  display: flex;
  align-items: center;
  padding: 20px;
}
.a_propos_de_nous_detaille > i {
  color: #303030;
  padding: 15px;
  border-radius: 20px;
  background: linear-gradient(
    0deg,
    rgba(255, 240, 0, 1) 30%,
    rgba(255, 248, 136, 1) 100%
  );
}
.a_propos_de_nous_detaille_text {
  margin: 0px 0px 0px 15px;
  display: flex;
  flex-direction: column;
}
.a_propos_de_nous_detaille_text > h1 {
  font-family: futura-bold;
  font-size: 1.5rem;
  margin: 0px;
}
.a_propos_de_nous_detaille_text > p {
  font-family: lato;
  font-size: 1rem;
  margin: 0px;
}
#membre_resto {
  width: 100%;
  display: flex;
  justify-content: center;
}
#membre_resto_taille {
  width: 85%;
  background-color: #F3F3F3;
  padding: 50px 0px;
  display: flex;
  justify-content: space-around;
}
.membre_resto_agent {
  width: 500px;
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}
.membre_resto_agent > figure > img {
  width: 200px;
  height: auto;
  max-width: 100%;
  margin: 0px 20px 0px 0px;
  transition: all 0.3s ease;
}
.membre_resto_agent > figure {
  overflow: hidden;
}
.membre_resto_agent > figure > img:hover {
  transform: scale(1.3);
}
.detaille_agent > h1 {
  font-size: 2rem;
  border-bottom: 1px solid #303030;
}
.detaille_agent > h2 {
  font-size: 1.5rem;
}
.detaille_agent > p {
  font-size: 1rem;
}
.detaille_agent > .reseauxagent {
  display: flex;
  justify-content: center;
}
.detaille_agent > .reseauxagent > a {
  text-decoration: none;
}
.detaille_agent > .reseauxagent > a > i {
  margin: 0px 15px;
  color: #303030;
  transition: all 0.3s ease;
}
.detaille_agent > .reseauxagent > a > i:hover {
  color: #c82811;
}
#section_info_contact {
  background: url(image/about-background2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-clip: content-box;
  position: relative;
  width: 100%;
  height: 85vh;
}
#section_info_contact > div {
  display: inline-block;
}
#titrecontact > h1 {
  font-family: futura-extra-bold;
  font-size: 2.5rem;
  color: white;
  position: absolute;
  top: 50%;
  left: 10%;
}
#titreaproposcontact {
  display: flex;
  align-items: center;
  padding: 15px;
  background: linear-gradient(
    0deg,
    rgba(255, 240, 0, 1) 30%,
    rgba(255, 248, 136, 1) 100%
  );
  border-radius: 5px;
  position: absolute;
  bottom: 0%;
  left: 10%;
}
#titreaproposcontact > a {
  text-decoration: none;
}
#titreaproposcontact > a > h1, #titreaproposcontact > h1, #titreaproposcontact > div {
  font-family: futura-bold;
  font-size: 1rem;
  color: #303030;
}
#titreaproposcontact > div {
  padding: 0px 10px;
}
#sectioncontact {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F3F3F3;
}
#sectioncontactformulaire {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
}
#sectioncontactformulaire > h1 {
  font-family: futura-bold;
  color: #303030;
  font-size: 2rem;
}
#sectioncontactformulaire > p {
  font-family: lato;
  font-size: 1rem;
  color: #666666;
  text-align: center;
}
#sectioncontactformulaire > form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#sectioncontactformulaire > form > input, #sectioncontactformulaire > form > textarea {
  padding: 10px;
  margin: 20px 0px 0px 0px;
  border: 1px solid #E6DCDC !important;
}
#sectioncontactformulaire > form > label > input[type="submit"]{
  display: block;
  padding: 10px;
  margin: 20px 0px 0px 0px;
  background: linear-gradient(
    0deg,
    rgba(255, 240, 0, 1) 30%,
    rgba(255, 248, 136, 1) 100%
  );
  color: #303030;
  border: none;
  border-radius: 5px;
  transition: all 0.5s ease;
}
#sectioncontactformulaire > form > label > input[type="submit"]:hover {
  color: white;
  background: linear-gradient(
    0deg,
    rgb(218, 11, 11) 30%,
    rgb(255, 76, 76) 100%
  );
}
#sectioncontactadresse {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#sectioncontactadressemap {
  width: 85%;
}
#sectioncontactadressemap > iframe {
  width: 100%;
}
#newsletters {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c82811;
}
#newsletterstaille {
  width: 85%;
  padding: 50px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#newsletterstitre {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}
#newsletterstitretexte {
  padding: 0px 0px 0px 15px;
}
#newsletterstitretexte > h1 {
  font-family: futura-medium;
  font-size: 1rem;
  padding: 0px 0px 10px 0px;
}
#newsletterstitretexte > p {
  font-family: lato;
  font-size: 0.8rem;
}
#newslettersformulaire {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#newslettersformulaire > form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#newslettersformulaire > form > input[type="email"] {
  font-size: 0.8rem;
  list-style: none;
  padding: 10px 20px;
  border-radius: 50px 0px 0px 50px;
  border: 4px solid white;
}
#newslettersformulaire > form > input[type="submit"] {
  font-family: futura-medium;
  font-size: 1rem;
  color: #303030;
  border: none;
  border-radius: 0px 50px 50px 0px;
  padding: 10px 20px;
  background: linear-gradient(
    0deg,
    rgba(255, 240, 0, 1) 30%,
    rgba(255, 248, 136, 1) 100%
  );
  list-style: none;
  margin: 0px 0px 0px -1px;
  cursor: pointer;
}
#newslettersformulaire > form > input[type="submit"]:hover {
  background: linear-gradient(
    0deg,
    rgb(218, 11, 11) 30%,
    rgb(255, 76, 76) 100%
  );
  color: white;
  transition: all 0.5s ease;
}
#newslettersreseaux {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
#newslettersreseaux > a {
  text-decoration: none;
}
#newslettersreseaux > a > i {
  color: white;
  padding: 0px 0px 0px 20px;
}
#newslettersreseaux > a > i:hover {
  color: #f2f150;
}
footer {
  width: 100%;
  height: 100vh;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#footertaille {
  width: 85%;
}
#informationcontact {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: solid 1px #cccccc;
}
#infocomptefooter,
#footerserviceclient,
#footerinstagram,
#paiementmethodfooter {
  display: flex;
  flex-direction: column;
  width: 20%;
}
#infocomptefooter > h1,
#footerserviceclient > h1,
#footerinstagram > h1,
#paiementmethodfooter > h1 {
  font-family: futura-medium;
  color: white;
  font-size: 0.8rem;
  border-bottom: solid 2px red;
  margin: 0px 0px 40px 0px;
}
#infocomptefooterdetails > a,
#footerserviceclient > a,
#footerinstagram > a,
#paiementmethodfooter > a {
  text-decoration: none;
  color: #cccccc;
  font-size: 0.8rem;
  font-family: lato;
  margin: 0px 0px 15px 0px;
}
#infocomptefooterdetails > a > p,
#footerserviceclient > a > p {
  color: #cccccc;
  font-size: 0.8rem;
  padding: 0px 0px 0px 30px;
}
#infocomptefooterdetails > a > i {
  color: yellow;
}
#infocomptefooterdetails {
  display: flex;
  flex-direction: column;
}
#infocomptefooterdetails > a {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#footerserviceclient {
  display: flex;
  flex-direction: column;
}
#footerinstagram {
  display: flex;
  flex-direction: column;
}
#footerinstagramimage {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
#footerinstagramimage > a > img {
  width: 60px;
  padding: 7px;
}
#paiementmethodfooter {
  display: flex;
  flex-direction: column;
}
#paiementmethodfooterimage > a {
  text-decoration: none;
  color: white;
  padding: 0px 15px 0px 0px;
}
#paiementmethodfooterimage {
  display: flex;
  flex-direction: row;
}
#infocomptefooterdetails > a > p:hover {
  color: yellow;
}
#footerserviceclient > a:hover {
  color: yellow;
}
#paiementmethodfooterimage > a:hover {
  color: yellow;
}
.footerlicence {
  width: 100%;
  color: #cccccc;
  font-size: 0.8rem;
}
@media only screen and (max-width: 575.98px) {
  html {
    font-size: 50%;
  }
  section {
  }
  #recherche {
    display: none;
  }
  #slidetaille {
    width: 95%;
    flex-direction: column;
  }
  #slidetailleimagegrand {
    width: 100%;
    margin-bottom: 20px;
  }
  #slideaside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .slidetailleaside {
    width: 49%;
  }
  #servicetaille {
    width: 95%;
  }
  .service {
    width: 48%;
  }
  #ventedujourtaille {
    width: 95%;
  }
  #ventedujourdefilement {
    justify-content: center;
  }
  #notremenutaille {
    width: 95%;
  }
  #livraisongratuitetaille {
    width: 95%;
  }
  #venteduweekenttaille {
    width: 95%;
  }
  #menupopulairetaille {
    width: 95%;
  }
  #newsletterstaille {
    flex-direction: column;
  }
  #newsletterstitre {
    width: 100%;
  }
  #newslettersformulaire {
    width: 100%;
    margin: 30px 0px;
  }
  #newslettersreseaux {
    width: 100%;
    justify-content: center;
  }
  #footertaille {
    width: 95%;
    flex-direction: column;
  }
  #informationcontact {
    width: 100%;
    flex-direction: column;
  }
  #infocomptefooter, #footerserviceclient, #paiementmethodfooter {
    width: 100%;
  }
  #footerinstagram {
    display: none;
  }
  #infocomptefooter > h1,
#footerserviceclient > h1,
#footerinstagram > h1,
#paiementmethodfooter > h1 {
  margin: 0px 0px 20px 0px;
}
#infocomptefooterdetails > a,
#footerserviceclient > a,
#footerinstagram > a,
#paiementmethodfooter > a {
  margin: 0px 0px 15px 0px;
}
#infocomptefooterdetails > a > p,
#footerserviceclient > a > p {
  padding: 0px 0px 0px 10px;
}
}
@media (max-width: 767.98px) {
  section {
  }
}
@media (max-width: 991.98px) {
  section {
  }
}
@media (max-width: 1199.98px) {
  section {
  }
}
@media (max-width: 1399.98px) {
  
}